body{
    background: pink;
}
header{
    background: #e0979c;
}
h1{
    font-size: xx-large;
    padding: 10px;
    font-family:monospace;
}

#container{
    margin:10px auto 50px auto;
    width: fit-content;
    padding: 50px;
}

#add-book{
    margin: 2px auto 10px auto;
    background-image: linear-gradient(rgb(37, 112, 131),#2b7a78);
    display: block;
    padding: 10px;
    color: rgb(255, 255, 255);
    border: none;
    font-size: x-large;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 white;
}

#add-book:hover{
    box-shadow: 0 3px 30px 0 white;
    
}

.form-container{
    background-image: url(./book-form-image.png);
    background-size: cover;
    padding:20px;
    width: 700px;
    height: 350px;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -175px;
    margin-left: -350px;
    background-color: #def2f1;

}

input{
    margin: 5px;
    margin-left: 350px;
    outline: 0;
    height: 30px;
    width: 250px;
    padding-left: 10px;
    border-width: 0 0 2px;
    border-radius: 30px;
    border-color : #2b7a78;
}

#form-button-container{
    margin: 100px 20px 20px 350px;
}

#book-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 50px;
    width: 1000px;
    height: fit-content;
    padding: 20px;
}
/*---------book card----------*/

.book-card, .not-read-card{
    background: #2caeaeec;
    box-shadow: 0 4px 8px 0 #17252a;
    text-align: center;
    padding:5px;
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.not-read-card{
    background: grey;
}

.remove{
    background: #e0979c;
    border-radius: 20%;
    width: 30px;
    margin-left: 150px;
}

.book-title{
    margin: 10px;
    background: #ffe57d;
    padding: 10px;
}

.title{
    padding: 20px;
}

.book-info{
    padding: 10px;
}

#author{
    margin: 5px;
}

#pages{
    margin-top: 20px;
    text-align: left;
}

#read-status{
    width: 83px;
    margin-left: 10px; 
}

